I'm a Software Engineer. I like to tinker with various technologies and I like to sketch.

<br/>

Follow me on <a href="https://indieweb.social/@mandarvaze" rel="me">Mastodon</a> and <a href="http://github.com/mandarvaze">Github</a>
<br>
Other places, now mostly inactive <a href="http://twitter.com/mandarvaze">Twitter</a> and <a href="https://instagram.com/mandar_vaze">Instagram</a>
<br>
Look at my sketches : <a href="https://pixey.org/mandarvaze/">current</a> and <a href="https://learnings.desipenguin.com/galleries/">older</a>
 
